@font-face {
  font-family: 'andale_monoregular';
    src: url('/fonts/andalemono/andalemono-webfont.woff2') format('woff2'),
         url('/fonts/andalemono/andalemono-webfont.woff') format('woff');
}

.heading-wrapper p {
  font-size: 40px;
  margin-bottom: 20px;
}

.body-wrapper {
  font-family: "Andale Mono", AndaleMono, 'andale_monoregular', monospace;
  text-align: center;
}

.content-wrapper {
  padding: 20px;
  width: 500px;
  margin: 0 auto;
}

a {
  color: #009cfc;
  /*text-decoration-line: none;*/
}

nav {
  margin: 0 auto;
}

nav a {
  font-size: 20px;
  padding: 10px 20px;
  display: inline-block;
  text-decoration-line: none;
  color: black;
  outline: 1px solid black;
  box-shadow: 2px 1px;
  margin: 0 20px;
}

nav a.selected {
  box-shadow: none;
  background: #ddd;
}

.section-content.hide {
  display: none;
}

.contact-action {
  margin-top: 10px;
  text-align: left;
  padding-left: 50px;
}

.contact-action i {
  width: 20px;
}